* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Roboto;
}

body {
  margin: 0px;
}

.Bg {
  background-color: #25262c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ImgEditCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: #1b1c22;
}

.ImgCont {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImgHead {
  color: #f8fafc;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
}

.TextImg {
  height: 200px;
  width: 230px;
}

.TextCont {
  display: flex;
  flex-direction: column;
  background-color: #25262c;
  border-radius: 10px;
  margin: 15px;
}

.BtnsTopCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.BtnsCont {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

.BtnIcon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.HrLine {
  margin: 0px;
  border: 0.5px solid #cbd5e1;
  width: 100%;
}

@media (min-width: 768px) {
  .ImgEditCard {
    flex-direction: row;
    width: 80%;
  }

  .ImgHead {
    font-size: 35px;
  }

  .ImgCont {
    width: 50%;
  }

  .TextCont {
    width: 50%;
  }

  .TextImg {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .TextImg {
    height: 450px;
  }
}
